/.idea
/*.sqlite3
/editor/__pycache__
/editor/files/currentFile.txt
/editor/files/documents
/editor/migrations/__pycache__
/editor/static/editor/style/*.map
/molvi/__pycache__
/editor/migrations/0003_valenceangle_value.py
/editor/migrations/0004_auto_20181022_0840.py
/editor/migrations/0005_auto_20181116_0945.py
