.t1-5 {
  font-family: "Times New Roman", serif;
  font-size: 16px; }

.layout {
  width: 800px;
  margin: auto; }
  .layout .table {
    display: table;
    vertical-align: top; }
  .layout .row {
    display: table-row; }
  .layout .cell {
    display: table-cell;
    vertical-align: top; }
  .layout .modeIcon {
    display: inline; }
    .layout .modeIcon #traceRange {
      position: absolute;
      width: 30px;
      margin: 47px 0 0 31px; }
  .layout .iconImage {
    position: absolute;
    margin: 3px; }
  .layout .header {
    width: 100%;
    border: 1px solid #000;
    padding: 20px;
    box-sizing: border-box;
    font-size: 24px;
    vertical-align: middle;
    text-align: center; }
  .layout .body {
    width: 100%;
    margin: auto;
    background: #f5f5f5; }
    .layout .body #infoMessageField {
      position: absolute;
      width: 600px;
      text-align: center;
      margin: 80px 0 0 0;
      color: #00ff00;
      font-size: 30px; }
      .layout .body #infoMessageField #infoCloseButton {
        font-size: 12px;
        text-align: right;
        cursor: pointer;
        text-decoration: underline; }
      .layout .body #infoMessageField #infoMessage {
        background: #0F0F0F;
        border: 1px solid white;
        display: inline-block;
        padding: 5px 10px 5px 10px;
        border-radius: 5px; }
    .layout .body .display {
      width: 600px;
      box-sizing: border-box;
      overflow: hidden;
      text-align: center;
      margin: 5px 0 0 0;
      position: relative; }
    .layout .body .userControls {
      position: absolute;
      width: 600px;
      text-align: right;
      z-index: 1; }
      .layout .body .userControls img {
        margin: 5px 0 0 0;
        border: 2px solid transparent;
        border-radius: 5px; }
        .layout .body .userControls img:hover {
          border-color: skyblue; }
      .layout .body .userControls .unselectedIcon {
        display: none; }
  .layout .atomsView .atomView {
    padding: 5px;
    margin: 1px 0 0 10px;
    cursor: default;
    border: 1px solid transparent;
    font-size: 0; }
    .layout .atomsView .atomView .id {
      color: gray; }
    .layout .atomsView .atomView:hover {
      border: 1px solid #000;
      box-sizing: border-box; }
    .layout .atomsView .atomView div {
      display: inline-block; }
    .layout .atomsView .atomView .devider {
      display: block; }
  .layout .atomsView .selected {
    background: lightsteelblue; }
  .layout .atomsView .moleculaView .title u {
    cursor: default; }
    .layout .atomsView .moleculaView .title u:hover {
      background: skyblue; }
  .layout .atomsView .move {
    display: inline-block;
    cursor: default; }
    .layout .atomsView .move:hover {
      background: lightsteelblue; }
  .layout .linksView {
    display: table;
    width: 100%;
    cursor: default; }
    .layout .linksView img {
      border: 1px solid transparent; }
      .layout .linksView img:hover {
        border: 1px solid #000;
        background: lightskyblue; }
    .layout .linksView .link {
      border: 1px solid transparent;
      padding: 1px 1px 1px 6px;
      font-size: 0;
      margin: 0 0 5px 0; }
      .layout .linksView .link .text {
        display: inline-block;
        vertical-align: top; }
      .layout .linksView .link .name {
        width: 105px; }
      .layout .linksView .link:hover {
        background: lightsteelblue;
        border: 1px solid #000; }
      .layout .linksView .link span {
        min-height: 20px;
        display: inline-block; }
      .layout .linksView .link .linkContent {
        display: table-cell; }
    .layout .linksView .deleteLink {
      margin-left: 0;
      border: 1px solid transparent;
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      text-align: center;
      cursor: default; }

.buttons {
  margin: 5px 0 5px 0; }

.openFileDialog {
  border: 1px solid black;
  border-radius: 5px;
  width: 500px;
  background: white;
  position: absolute;
  margin: 10px;
  z-index: 2;
  display: none; }
  .openFileDialog .fileView {
    height: 300px;
    overflow-y: scroll;
    overflow-x: auto;
    margin: 10px 0 10px 25px; }
  .openFileDialog .title {
    font-size: 1.5em;
    margin: 30px 0 0 20px; }
  .openFileDialog .caption {
    margin: 10px 0 0 10px;
    text-align: center; }
  .openFileDialog .file {
    margin: 4px 10px 4px 10px;
    cursor: default; }
  .openFileDialog .selected {
    background: black;
    color: white; }
  .openFileDialog .file:hover {
    background: skyblue; }
  .openFileDialog .buttons {
    text-align: right;
    margin-bottom: 20px; }
    .openFileDialog .buttons .mybutton:last-child {
      margin: 0 20px 0 10px; }

#saveFileDialog {
  box-shadow: 0 0 5px skyblue;
  position: absolute;
  background: white;
  width: 600px;
  z-index: 1;
  margin: 150px 0 0 50px;
  padding: 10px;
  display: none; }
  #saveFileDialog input {
    width: calc(100% - 40px);
    display: block;
    margin: 0 20px 0 20px; }
  #saveFileDialog .title {
    font-size: 1.5em;
    margin: 20px 0 5px 20px; }
  #saveFileDialog .buttons {
    text-align: right; }
    #saveFileDialog .buttons .mybutton:last-child {
      margin: 0 20px 0 10px; }
  #saveFileDialog .save-mode .line .selection {
    display: inline-block;
    border: 1px solid gray;
    padding: 0 3px;
    cursor: default; }
  #saveFileDialog .save-mode .line .selected {
    background: lightgray; }

#moleculaMoveControls {
  border: 1px solid skyblue;
  background: white;
  position: absolute;
  margin: 50px 0 0 160px;
  display: none; }
  #moleculaMoveControls .hidden {
    display: none; }
  #moleculaMoveControls .title {
    margin: 20px 5px 5px 5px;
    text-align: center;
    font-size: 1.2em; }
  #moleculaMoveControls .inputLine {
    margin: 10px 50px 10px 50px; }
    #moleculaMoveControls .inputLine span {
      display: inline-block;
      width: 15px;
      margin: 0 0 0 5px; }
  #moleculaMoveControls .buttons {
    text-align: right;
    margin: 0 50px 15px 0; }
    #moleculaMoveControls .buttons .button {
      display: inline-block;
      box-sizing: border-box;
      border: 1px solid black;
      width: 70px;
      text-align: center;
      padding: 3px 0 3px 0;
      cursor: default; }
      #moleculaMoveControls .buttons .button:hover {
        background: skyblue; }

.mybutton {
  display: inline-block;
  box-sizing: border-box;
  width: 70px;
  text-align: center;
  padding: 3px 0 3px 0;
  cursor: default; }
  .mybutton:hover {
    background: skyblue; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.moveActions {
  margin: 0 10px 5px 10px; }
  .moveActions .moveAction {
    background: pink;
    display: inline-block;
    padding: 3px 10px 3px 10px;
    cursor: default;
    border: 1px solid transparent;
    margin: 0 0 0 5px; }
    .moveActions .moveAction:hover {
      background: lightskyblue; }
  .moveActions .selected {
    border: 1px solid black; }

#transformRotate {
  width: auto;
  background: white;
  position: absolute;
  margin: 100px 0 0 100px;
  box-shadow: 0 0 10px white;
  display: none; }
  #transformRotate .title {
    font-size: 1.5em;
    margin: 10px 10px 5px 10px; }
  #transformRotate div {
    margin: 5px 15px 5px 15px; }
    #transformRotate div input {
      display: inline-block;
      margin: 0 0 0 5px; }
  #transformRotate .buttons {
    text-align: right; }

.viewPanel {
  height: 561px;
  width: 200px;
  overflow: scroll;
  box-sizing: border-box;
  display: none; }

.selectors {
  font-size: 0; }
  .selectors .selector {
    display: inline-block;
    margin: 5px 5px 5px 0;
    box-sizing: border-box;
    border: 1px solid transparent;
    font-size: 14px; }
    .selectors .selector:hover {
      background: lightskyblue; }
  .selectors .checked {
    border: 1px solid black; }

.disabled {
  color: gray;
  pointer-events: none; }

#linkChangeLengthControls .title {
  margin: 5px;
  font-size: 1.2em; }
#linkChangeLengthControls .line {
  margin-top: 10px;
  margin-left: 30px; }
  #linkChangeLengthControls .line .name {
    width: 180px;
    display: inline-block; }
  #linkChangeLengthControls .line .value {
    display: inline-block; }
    #linkChangeLengthControls .line .value input {
      width: 60px; }
#linkChangeLengthControls .flat-button {
  width: 100px; }
#linkChangeLengthControls .buttons {
  margin-top: 10px; }

.flat-button {
  display: inline-block;
  padding: 3px;
  box-sizing: border-box;
  border: 1px solid #000;
  text-align: center;
  cursor: default; }
  .flat-button:hover {
    background: lightskyblue; }

#linkRotationPanel .name {
  display: inline-block; }
#linkRotationPanel .value {
  display: inline-block; }
  #linkRotationPanel .value input {
    width: 30px; }
#linkRotationPanel .dont-move {
  display: inline-block;
  border: 1px solid transparent;
  width: 20px;
  height: 20px;
  cursor: default;
  user-select: none; }
  #linkRotationPanel .dont-move:hover {
    background: lightskyblue; }
#linkRotationPanel .selected {
  border: 1px solid black; }

.valenceAnglesView .valence-angle {
  cursor: default; }
  .valenceAnglesView .valence-angle:hover {
    background: lightgray; }
  .valenceAnglesView .valence-angle .title {
    display: inline-block;
    width: 125px;
    padding: 0 0 0 5px; }
  .valenceAnglesView .valence-angle .buttons {
    display: inline-block; }
    .valenceAnglesView .valence-angle .buttons .button {
      vertical-align: bottom;
      display: inline-block;
      text-decoration: underline;
      cursor: default; }
    .valenceAnglesView .valence-angle .buttons .deleteva {
      border: 1px solid transparent;
      text-decoration: none;
      width: 20px;
      box-sizing: content-box;
      text-align: center; }
      .valenceAnglesView .valence-angle .buttons .deleteva:hover {
        border: 1px solid black; }
    .valenceAnglesView .valence-angle .buttons .editva {
      border: 1px solid transparent; }
      .valenceAnglesView .valence-angle .buttons .editva:hover {
        border: 1px solid #000; }
  .valenceAnglesView .valence-angle .value {
    display: inline-block; }

.control_board {
  padding: 10px; }

#valence-angle-controls .line {
  margin: 5px 0 5px 30px; }
  #valence-angle-controls .line .name {
    display: inline-block;
    width: 180px; }
  #valence-angle-controls .line .value {
    display: inline-block; }
#valence-angle-controls .title {
  font-size: 1.2em;
  margin: 5px; }
#valence-angle-controls .buttons {
  margin: 5px 0 0 30px; }
  #valence-angle-controls .buttons .flat-button {
    width: 100px; }

.loading {
  color: white;
  position: absolute;
  top: 300px;
  left: 55%; }
  .loading .text {
    font-size: 30px;
    font-family: Consolas, monospace;
    text-shadow: black 0 0 2px; }

.html-label {
  position: absolute;
  text-align: left;
  text-shadow: black 0 0 1px;
  color: white;
  pointer-events: none; }

.control-cluster-position .line {
  margin: 3px 0 3px 30px; }
  .control-cluster-position .line span {
    width: 20px;
    display: inline-block;
    cursor: default; }
    .control-cluster-position .line span:first-child {
      width: 130px; }
    .control-cluster-position .line span:nth-child(2) {
      border: 1px solid transparent; }
      .control-cluster-position .line span:nth-child(2):hover {
        border: 1px solid #000; }
    .control-cluster-position .line span:nth-child(3) {
      border: 1px solid transparent; }
      .control-cluster-position .line span:nth-child(3):hover {
        border: 1px solid #000; }
  .control-cluster-position .line input {
    width: 30px;
    text-align: right; }
.control-cluster-position .buttons .flat-button {
  width: 100px;
  box-sizing: border-box; }

.hidden {
  display: none; }

.dihedralAngles {
  position: relative; }
  .dihedralAngles .title {
    font-size: 1.1em;
    margin: 10px 0 0 10px; }
  .dihedralAngles .text {
    text-align: center;
    margin: 10px; }
  .dihedralAngles .messages {
    position: absolute;
    background: white;
    z-index: 1;
    margin: 10px;
    border: 1px solid #000; }
  .dihedralAngles .new-dihedral-angle-button {
    width: 108px;
    margin: 0 0 5px 5px; }
  .dihedralAngles .buttons .flat-button {
    width: 130px;
    margin-left: 10px; }

#optimize-button:hover {
  background: pink;
  cursor: default; }

/*# sourceMappingURL=molvi.css.map */
