.t1-5
  font-family: "Times New Roman", serif
  font-size: 16px

body
  margin: 0

.display
  position: absolute
  width: 100vw
  height: 100vh


.layout
  .table
    display: table
    vertical-align: top
  .row
    display: table-row
  .cell
    display: table-cell
    vertical-align: top

  //background: pink
  width: 800px
  margin: auto
  //text-align: center
  .modeIcon
    display: inline
    #traceRange
      position: absolute
      width: 30px
      margin: 47px 0 0 31px
  .iconImage
    position: absolute
    margin: 3px
  .header
    color: lime
    width: 100%
    border: 1px solid #000
    padding: 20px
    box-sizing: border-box
    font-size: 24px
    vertical-align: middle
    text-align: center
  .body
    width: 100%
    margin: auto
    background: #f5f5f5
    #infoMessageField
      position: absolute
      width: 600px
      text-align: center
      margin: 80px 0 0 0
      color: #00ff00
      font-size: 30px
      z-index: 2
      #infoCloseButton
        font-size: 12px
        text-align: right
        cursor: pointer
        text-decoration: underline
      #infoMessage
        background: #0F0F0F
        border: 1px solid white
        display: inline-block
        padding: 5px 10px 5px 10px
        border-radius: 5px
    .display
      width: 61px
      box-sizing: border-box
      overflow: hidden
      //padding: 10px
      text-align: center
      //background: pink
      margin: 5px 0 0 0
      //margin-left: calc(800px - 600px)
      position: relative
    .userControls
      //background: pink
      position: absolute
      width: 600px
      text-align: right
      z-index: 1
      img
        margin: 5px 0 0 0
        border: 2px solid transparent
        border-radius: 5px
        &:hover
          border-color: skyblue
      .unselectedIcon
        display: none


  .atomsView
    .atomView
      //background: pink
      padding: 5px
      margin: 1px 0 0 10px
      cursor: default
      border: 1px solid transparent
      font-size: 0
      .id
        color: gray
      &:hover
        border: 1px solid #000
        box-sizing: border-box
      div
        display: inline-block
      .devider
        display: block
    .selected
      background: lightsteelblue
    .moleculaView
      .title
        u
          cursor: default
          &:hover
            background: skyblue
    .move
      display: inline-block
      cursor: default
      &:hover
        background: lightsteelblue
  .linksView
    display: table
    width: 100%
    cursor: default
    img
      border: 1px solid transparent
      &:hover
        border: 1px solid #000
        background: lightskyblue
    .link
      border: 1px solid transparent
      padding: 1px 1px 1px 6px
      font-size: 0
      margin: 0 0 5px 0
      .text
        display: inline-block
        vertical-align: top
      .name
        width: 105px
      &:hover
        background: lightsteelblue
        border: 1px solid #000
      span
        min-height: 20px
        display: inline-block
      .linkContent
        display: table-cell
    .deleteLink
      margin-left: 0
      border: 1px solid transparent
      width: 20px
      height: 20px
      box-sizing: border-box
      text-align: center
      cursor: default

.buttons
  margin: 5px 0 5px 0

.openFileDialog
  border: 1px solid black
  border-radius: 5px
  width: 500px
  background: white
  position: absolute
  z-index: 2
  display: none
  pointer-events: all
  position: absolute
  top: 80px
  left: 50%
  margin-left: -250px
  .fileView
    height: 300px
    overflow-y: scroll
    overflow-x: auto
    margin: 10px 0 10px 25px
  .title
    font-size: 1.5em
    margin: 30px 0 0 20px
  .caption
    margin: 10px 0 0 10px
    text-align: center
  .file
    margin: 4px 10px 4px 10px
    cursor: default
  .selected
    background: black
    color: white
  .file:hover
    background: skyblue
  .buttons
    text-align: right
    margin-bottom: 20px
    .mybutton:last-child
      margin: 0 20px 0 10px

#app
  position: absolute
  z-index: 2
  width: 100vw
  height: 100vh
  pointer-events: none


#saveFileDialog
  box-shadow: 0 0 5px skyblue
  position: absolute
  background: white
  width: 600px
  z-index: 1
  margin: 150px 0 0 50px
  padding: 10px
  display: none
  pointer-events: all
  input
    width: calc(100% - 40px)
    display: block
    margin: 0 20px 10px 20px
  .title
    font-size: 1.5em
    margin: 20px 0 5px 20px
  .buttons
    text-align: right
    .mybutton:last-child
      margin: 0 20px 0 10px
  .save-mode
    .line
      .selection
        display: inline-block
        border: 1px solid gray
        padding: 0 3px
        cursor: default
      .selected
        background: lightgray


#moleculaMoveControls
  border: 1px solid skyblue
  background: white
  position: absolute
  margin: 50px 0 0 160px
  display: none
  .hidden
    display: none

  .title
    margin: 20px 5px 5px 5px
    text-align: center
    font-size: 1.2em
  .inputLine
    margin: 10px 50px 10px 50px
    span
      display: inline-block
      width: 15px
      margin: 0 0 0 5px
  .buttons
    text-align: right
    margin: 0 50px 15px 0
    .button
      display: inline-block
      box-sizing: border-box
      border: 1px solid black
      width: 70px
      text-align: center
      padding: 3px 0 3px 0
      cursor: default
      &:hover
        background: skyblue


.mybutton
  display: inline-block
  box-sizing: border-box
  //border: 1px solid black
  width: 70px
  text-align: center
  padding: 3px 0 3px 0
  cursor: default
  &:hover
    background: skyblue

.noselect
  -webkit-touch-callout: none /* iOS Safari */
  -webkit-user-select: none /* Safari */
  -khtml-user-select: none /* Konqueror HTML */
  -moz-user-select: none /* Firefox */
  -ms-user-select: none /* Internet Explorer/Edge */
  user-select: none /* Non-prefixed version, currently supported by Chrome and Opera */

.moveActions
  margin: 0 10px 5px 10px
  .moveAction
    background: pink
    display: inline-block
    padding: 3px 10px 3px 10px
    cursor: default
    border: 1px solid transparent
    margin: 0 0 0 5px
    &:hover
      background: lightskyblue
  .selected
    border: 1px solid black

#transformRotate
  width: auto
  background: white
  position: absolute
  margin: 100px 0 0 100px
  box-shadow: 0 0 10px white
  display: none
  z-index: 2
  .title
    font-size: 1.5em
    margin: 10px 10px 5px 10px
  div
    margin: 5px 15px 5px 15px
    input
      display: inline-block
      margin: 0 0 0 5px
  .buttons
    text-align: right

.viewPanel
  height: 561px
  width: 200px
  overflow: scroll
  box-sizing: border-box
  display: none

.selectors
  font-size: 0
  width: auto
  .selector
    display: inline-block
    margin: 5px 5px 5px 0
    box-sizing: border-box
    border: 1px solid transparent
    font-size: 14px
    &:hover
      background: lightskyblue
  .checked
    border: 1px solid black

.disabled
  color: gray
  pointer-events: none

#linkChangeLengthControls
  .title
    margin: 5px
    font-size: 1.2em
  .line
    margin-top: 10px
    margin-left: 30px
    .name
      width: 180px
      display: inline-block
    .value
      display: inline-block
      input
        width: 60px
  .flat-button
    width: 100px
  .buttons
    margin-top: 10px
    //text-align: right

.flat-button
  display: inline-block
  padding: 3px
  box-sizing: border-box
  border: 1px solid #000
  text-align: center
  cursor: default
  &:hover
    background: lightskyblue


#linkRotationPanel
  .name
    display: inline-block
  .value
    display: inline-block
    input
      width: 30px
  .dont-move
    display: inline-block
    border: 1px solid transparent
    width: 20px
    height: 20px
    cursor: default
    user-select: none
    &:hover
      background: lightskyblue
  .selected
    border: 1px solid black


.valenceAnglesView
  .valence-angle
    cursor: default
    &:hover
      background: lightgray
    .title
      display: inline-block
      width: 125px
      padding: 0 0 0 5px
    .buttons
      display: inline-block
      .button
        vertical-align: bottom
        display: inline-block
        text-decoration: underline
        cursor: default
      .deleteva
        border: 1px solid transparent
        text-decoration: none
        width: 20px
        box-sizing: content-box
        text-align: center
        &:hover
          border: 1px solid black
      .editva
        border: 1px solid transparent
        &:hover
          border: 1px solid #000
    .value
      display: inline-block

.control_board
  background: white
  pointer-events: all
  position: absolute
  top: 180px
  left: 50%

#valence-angle-controls
  .line
    margin: 5px 0 5px 30px
    .name
      display: inline-block
      width: 180px
    .value
      display: inline-block
  .title
    font-size: 1.2em
    margin: 5px
  .buttons
    margin: 5px 0 0 30px
    .flat-button
      width: 100px



.loading
  //background: white
  color: white
  position: absolute
  //width: 300px
  //height: 300px
  top: 300px
  left: 55%
  //margin-left: -150px
  .text
    font-size: 30px
    font-family: Consolas, monospace
    text-shadow: black 0 0 2px

.html-label
  position: absolute
  text-align: left
  text-shadow: black 0 0 1px
  color: white
  pointer-events: none

.control-cluster-position
  .line
    margin: 3px 0 3px 30px
    span
      width: 20px
      display: inline-block
      cursor: default
      &:first-child
        width: 130px
      &:nth-child(2)
        border: 1px solid transparent
        &:hover
          border: 1px solid #000
      &:nth-child(3)
        border: 1px solid transparent
        &:hover
          border: 1px solid #000
    input
      width: 30px
      text-align: right
  .buttons
    .flat-button
      width: 100px
      box-sizing: border-box

.hidden
  display: none

.dihedralAngles
  position: relative
  .noDihedralAngles
    color: gray
    text-align: center
    margin: 10px 3px
  .title
    font-size: 1.1em
    margin: 10px 0 0 10px
  .text
    text-align: center
    margin: 10px
  .messages
    display: none
    position: absolute
    background: white
    z-index: 1
    margin: 10px
    border: 1px solid #000
  .new-dihedral-angle-button
    width: 108px
    margin: 0 0 5px 5px
  .buttons
    .flat-button
      width: 130px
      margin-left: 10px
  .dihedralAngle
    cursor: default
    display: flex
    div:first-child
      flex-grow: 1
    div:nth-child(2), div:nth-child(3)
      width: 22px
      height: 22px
      border: 1px solid transparent
      &:hover
        background: lightgray
      &:active
        border-color: black

#optimize-button:hover
  background: pink
  cursor: default

#optimize-links
  z-index: 3
  background: white
  position: absolute
  border: 1px solid black
  border-radius: 4px
  left: 50%
  width: 600px
  margin-left: -300px
  margin-top: 200px
  padding: 30px
  display: none

  .optimise-option
    padding: 3px
  .selector
    border: 1px solid steelblue
    display: inline-block
    width: 25px
    height: 25px
    vertical-align: middle
    text-align: center
    border-radius: 3px
    background: white
    cursor: default
    &:hover
      background: pink
      opacity: 0.8
  .selector.selected
    background: lightsteelblue

  .range
    margin: 10px
    .from
      display: inline-block
    .to
      display: inline-block
    .step
      display: inline-block
    input
      width: 50px

  .label
    display: inline-block
    vertical-align: middle

  .buttons
    text-align: right
    input
      min-width: 100px

.leftPanel
  pointer-events: all
  background: white
  width: 200px

.controlsPanel
  left: 50%
  margin-left: -240px
  pointer-events: all
  top: 70px
  position: absolute

.documentList
  cursor: default
  //.documentDelete
    // display: none
  .document:hover
    background: lightgray
    .documentDelete
      display: block
  .document
    user-select: none
  .documentDetails
    color: gray
  .documentNameBox
    display: flex
    .documentName
      flex-grow: 1
    .documentDelete
      background: transparent
    .documentDelete:hover
      content: url("/static/editor/images/circ1.svg")
      width: 20px
      height: 20px
    .documentDelete:active
      transform: rotate(30deg)

.busyPanel
  background: white
  position: absolute
  bottom: 0
  width: 100vw