{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MolVi - Molecular Viewer</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'editor/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'editor/style/molvi.css' %}">
    <script src="{% static 'editor/js/jquery-3.2.0.js' %}"></script>
    <script src="{% static 'editor/js/three.js' %}"></script>
    <script src="{% static 'editor/js/OrbitControls.js' %}"></script>
    <script src="{% static 'editor/js/THREE.MeshLine.js' %}"></script>

    <script src="{% static 'editor/js/molviChunks.js' %}"></script>
    <script src="{% static 'editor/js/molviConf.js' %}"></script>
    <script src="{% static 'editor/js/mycookie.js' %}"></script>
    <script src="{% static 'editor/js/molvi-2.js' %}"></script>
</head>
<body>
    {% csrf_token %}
    <div class="loading">
        <div class="image">
            <img width="100" height="100" src="{% static 'editor/images/loading.gif' %}" alt="loading image">
        </div>
        <div class="text">Working</div>
    </div>
    <div class="layout">
        <div id="saveFileDialog">
            <div class="save-mode">
                <div class="line">
                    <span>Сохранить как:</span>
                    <div class="selection selected" id="save-mol-file">.mol</div>
                    <div class="selection" id="save-document">doc</div>
                </div>
            </div>
            <div class="title noselect">Введите имя файла для сохранения </div>
            <input type="text" id="saveFileName" value="new_document">
            <div class="buttons noselect">
                <div class="mybutton" onclick="view.enableControls(); engine.saveAction(); $('#saveFileDialog').hide();">OK</div>
                <div class="mybutton" onclick="$('#saveFileDialog').hide(); view.enableControls()">Отмена</div>
            </div>
        </div>
        <div id="openFileDialog" class="openFileDialog">
            <div class="title noselect">Список документов</div>
            <div class="fileView">
                <div class="file">... загрузка ...</div>
            </div>
            <div class="buttons noselect">
                <div class="mybutton" onclick="engine.openFileDialog_loadSelected()">OK</div>
                <div class="mybutton" onclick="view.closeOpenFileDialog()">Отмена</div>
            </div>
        </div>
        <div id="openFileDialogMol" class="openFileDialog">
            <div class="title noselect">Список документов</div>
            <div class="fileView">
                <div class="file">... загрузка ...</div>
            </div>
            <div class="buttons noselect">
                <div class="mybutton" onclick="engine.openFileDialogMol_loadSelected()">OK</div>
                <div class="mybutton" onclick="view.closeOpenFileDialog()">Отмена</div>
            </div>
        </div>
        <img src="{% static 'editor/images/favicon.png' %}" alt="icon image" class="iconImage"/>
        <div class="header">
            <span>MolVi: Molecula View</span>
        </div>
        <div class="body">
            <div class="table">
                <div class="row">
                    <div class="cell">
                        <div class="selectors">
                            <div class="selector" id="selectorAtoms" onclick="selectPanel('Atoms')" title="Список молекул">
                                <img src="{% static 'editor/images/molecula-32.png' %}" alt="molecula.png">
                            </div>
                            <div class="selector" id="selectorLinks" onclick="selectPanel('Links')" title="Список связей">
                                <img src="{% static 'editor/images/link-32.png' %}" alt="link.png">
                            </div>
                            <div class="selector" id="selectorDihedralAngles" onclick="selectPanel('DihedralAngles')" title="Список двугранных углов">
                                <img src="{% static 'editor/images/dihedral-angle-32.png' %}" alt="dihedral-angles.png">
                            </div>
                            <div class="selector" id="selectorValenceAngles" onclick="selectPanel('ValenceAngles')" title="Список валентных углов">
                                <img src="{% static 'editor/images/valence-angle-32.png' %}" alt="valence-angles.png">
                            </div>
                        </div>
                        <div class="atomsView viewPanel" id="panelAtoms">loading...</div>
                        <div class="linksHolder viewPanel" id="panelLinks">
                            <div class="linksView"></div>
                        </div>
                        <div class="dihedralAngles viewPanel" id="panelDihedralAngles">
                            <div class="flat-button new-dihedral-angle-button" onclick="dihedralAngleCreator.start()">Создать</div>
                            <div class="messages">
                                <div class="title">Создание двугранного угла:</div>
                                <div class="text">...</div>
                                <div class="buttons">
                                    <div class="flat-button" onclick="dihedralAngleCreator.stop()">Отмена</div>
                                </div>
                            </div>

                            <div class="dihedralAnglesList">
                                empy
                            </div>
                        </div>
                        <div class="valenceAngle viewPanel" id="panelValenceAngles">
                            <div class="buttons">
                                <div class="flat-button" title="Построить автоматически список валентных угло" onclick="buildValenceAngles()">Построить</div>
                            </div>
                            <div class  ="valenceAnglesView">loading</div>
                        </div>

                        <div class="linkRotation viewPanel" id="linkRotationPanel">
                            <input title="linkRotation_link" type="text" name="linkRotation_link">
                            <input title="linkRotation_atom1" type="text" name="linkRotation_atom1">
                            <input title="linkRotation_atom2" type="text" name="linkRotation_atom2">
                            <div class="line">
                                <div class="name">Повернуть, град</div>
                                <div class="value"><input title="градусов" type="text" name="linkRotation_degrees" id="linkRotationDegrees"></div>
                            </div>
                            <div class="line">Оставить неподвижным</div>
                            <div class="dont-moves">
                                <div class="dont-move selected" onclick="linkRotationHighlight(1)">A1</div>
                                <div class="dont-move" onclick="linkRotationHighlight(2)">A2</div>
                            </div>
                            <div class="buttons">
                                <div class="flat-button" onclick="doLinkRotation()">OK</div>
                                <div class="flat-button" onclick="closeLinkRotationPanel()">Отмена</div>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="userControls">
                            <div class="modeIcon">
                                <img src="{% static 'editor/images/rotate.png' %}" class="unselectedIcon" onclick="engine.rotateCluster()" id="icon_openPlusFile"/>
                            </div>
                            <div class="modeIcon">
                                <img src="{% static 'editor/images/openfolder_doc.png' %}" class="unselectedIcon" onclick="view.openFileDialog('document')" id="icon_openPlusFile"/>
                            </div>
                            <div class="modeIcon">
                                <img src="{% static 'editor/images/openfolder_mol.png' %}" class="unselectedIcon" onclick="view.openFileDialog('mol')" id="icon_openPlusFile"/>
                            </div>
                            <div class="modeIcon">
                                <img src="{% static 'editor/images/openplus.png' %}" class="unselectedIcon" onclick="view.openFileDialog('plusmol')" id="icon_openFile"/>
                            </div>
                            <div class="modeIcon">
                                <img src="{% static 'editor/images/save.png' %}" class="unselectedIcon" onclick="view.showSaveFileDialog()" id="icon_saveDocument" title="Сохранить документ"/>
                            </div>
                            <div class="modeIcon">
                                <input type="text" name="" id="traceRange" onclick="document.getElementById(this.id).focus()" onkeydown="engine.autoTraceKeyPressed" onfocusout="view.enableControls()">
                                <img src="{% static 'editor/images/autotrace.png' %}" class="unselectedIcon" onclick="engine.executeAutoTrace()" id="icon_autotraceUnselected"/>
                            </div>
                            <div class="modeIcon">
                                <img src="{% static 'editor/images/linemode.png' %}" onclick="engine.startLinkCreationHtml()" class='modeIcon unselectedIcon' id='icon_modeLineUnselected'/>
                            </div>
                            <div class="modeIcon">
                                <img src="{% static 'editor/images/linemode_selected.png' %}" class="modeIcon selectedIcon" onclick="engine.selectMode('none')" id='icon_modeLineSelected'/>
                            </div>
                        </div>
                        <div id="infoMessageField">
                            <div id="infoMessage"> 
                                <div id="infoMessageText">Привет, путник.</div>
                                <div class="buttons" id="infoCloseButton" onclick='engine.userMessage()'>close</div>
                            </div>                            
                        </div>
                        <!-- delete me if you find it after 13-10-2018 -->

                        <div id="transformRotate">
                            <input type="hidden" name="rotateOrigin" id="rotateOrigin" class="origin">
                            <div class="title">Укажите величину поворота</div>
                            <div>
                                <div class="dx">
                                    <label for="tr_dx">Вокруг оси Х</label><input id="tr_dx"><label for="tr_dx">, град</label>
                                </div>
                                <div class="dy">
                                    <label for="tr_dy">Вокруг оси Y</label><input id="tr_dy"><label for="tr_dy">, град</label>
                                </div>
                                <div class="dz">
                                    <label for="tr_dz">Вокруг оси Z</label><input id="tr_dz"><label for="tr_dz">, град</label>
                                </div>
                            </div>
                            <div class="buttons">
                                <div class="mybutton" onclick="engine.rotateClusterFromHtml()">OK</div>
                                <div class="mybutton" onclick="engine.closeRotationHtml()">Oтмена</div>
                            </div>
                        </div>
                        <div class="display" id="display" onmouseleave="view.disableControls()" onmouseenter="view.enableControls()" u></div>
                    </div>
                </div>
            </div>
            
            <div class="control_board">
                <div class="controls control-link-length">
                    <div id="linkChangeLengthControls">
                        <input type="hidden" name="linkChangeLengthId">
                        <div class="title">Изменение длины связи</div>
                        <div class="line">
                            <div class="name">Текущая длина, ангстрем: </div>
                            <span id="linkLengthOld">n/d</span>
                            <div class="value"></div>
                        </div>
                        <div class="line">
                            <div class="name">Новая длина, ангстрем:</div>
                            <div class="value">
                                <input type="text" name="linkLengthNew" value="1" id="linkLengthNewInput" title="Новая длина">
                            </div>
                        </div>
                        <div class="buttons">
                            <div class="flat-button" onclick="changeLinkLength()">OK</div>
                            <div class="flat-button" onclick="closeControls()">Отмена</div>
                        </div>
                    </div>
                </div>
                <div class="controls control-valence-angle">
                    <div id="valence-angle-controls">
                        <div class="title">Изменить валентный угол</div>
                        <input type="hidden" name="id" class="input-id" value="0">
                        <div class="line">
                            <div class="name">Текущее значение, град</div>
                            <div class="value current-value">n/d</div>
                        </div>
                        <div class="line">
                            <div class="name">Новое значение, град</div>
                            <div class="value"><input type="text" title="Новое значение" class="input-angle"></div>
                        </div>
                        <div class="buttons">
                            <div class="flat-button" onclick="doEditValenceAngle()">OK</div>
                            <div class="flat-button" onclick="closeControls()">Отмена</div>
                        </div>
                    </div>
                </div>
                <div class="controls control-cluster-position">
                    <div class="hidden" id="moveMoleculaId"></div>
                    <div class="title">Перемещение кластера</div>
                    <div class="line">
                        <span>Ось Х, анкстрем: </span>
                        <span onclick="engine.doMoleculaMove('x', 1)"> +1 </span>
                        <span onclick="engine.doMoleculaMove('x', -1)"> -1 </span>
                        <input type="text" title="x" id='moveControl_x' value="0">
                    </div>
                    <div class="line">
                        <span>Ось Y, анкстрем: </span>
                        <span onclick="engine.doMoleculaMove('y', 1)"> +1 </span>
                        <span onclick="engine.doMoleculaMove('y', -1)"> -1 </span>
                        <input type="text" title="y" id='moveControl_y' value="0">
                    </div>
                    <div class="line">
                        <span>Ось Z, анкстрем: </span>
                        <span onclick="engine.doMoleculaMove('z', 1)"> +1 </span>
                        <span onclick="engine.doMoleculaMove('z', -1)"> -1 </span>
                        <input type="text" title="z" id='moveControl_z' value="0">
                    </div>
                    <div class="buttons">
                        <div class="flat-button" onclick="engine.doMoleculaMove('all')">OK</div>
                        <div class="flat-button" onclick="closeControls()">Отмена</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="errorMessage"></div>
</body>
</html>